body{
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    margin-top: 100px;
}
.img{
    width: 240px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
}

/*.img1{*/
    /*background-image: url(https://pp.userapi.com/c850624/v850624664/62755/p6G2A43gic8.jpg);*/

/*}*/

.img:hover{
    background-position: bottom center;
}
